    

{{!-- <script src ="static/js/signup.js" ></script> --}}
<link rel="stylesheet" href="/assets/css/signup.css">
<script src="/assets/js/circletype.min.js"></script>
<script src="/assets/js/signup.js"></script>

<!-- Navigation -->
<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <h1>FUR-EVER HOMES</h1>
                </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li id="home">
<<<<<<< HEAD
                            <a href="/"><span class="glyphicon glyphicon-home"></span>  Home</a>
=======
                            <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
>>>>>>> fd8271e48aa8da210c329ea9bc0cd77582306ae6
                        </li>
                    <li id="login">
                        <a href="/login"><span class="glyphicon glyphicon-log-in"></span>  Login</a>
                    </li>
                    <li>
                        <a href="/admin"><span class="glyphicon glyphicon-pencil"></span> Foster Home Page</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <form class="" method="POST" action="/signup" >
        <div class="login-wrap">
            <div class="login-html">
                <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Sign Up</label>
                <div class="login-form">
                    <div class="sign-up-htm text-center">
                        {{#if BadPassword}}
                        <h4 class="BadPass">{{BadPassword}}</h4>
                        {{/if}}
                        {{#if baderror}}
                        <h4 class="BadPass">{{baderror}}</h4>
                        {{/if}}
<<<<<<< HEAD
                            <div class="group">
                                <label for="user" class="label">Username</label>
                                <input id="username" type="text" name="userName"  class="input">
                            </div>
                            <div class="group">
                                <label for="password" class="label">Password</label>
                                <input id="pass" type="password"  name="password"  class="input" data-type="password">
                            </div>
                            <div class="group">
                                <label for="password" class="label">Repeat Password</label>
                                <input id="pass" type="password" class="input" name="confirm" data-type="password">
                            </div>
                            <div class="group">
                                <label for="home" class="label">Foster home name</label>
                                <input id="pass" type="text" name="fosterHome" class="input">
                            </div>
                            <div class="group">
                                <label for="parent" class="label">Foster parent name</label>
                                <input id="pass" type="text" name="fosterParents" class="input">
                            </div>
                            <div class="group">
                                <label for="address" class="label">Address</label>
                                <input id="password" type="text" name="address" class="input">
                            </div>
                            <div class="group">
                                <label for="county" class="label">County</label>
                                <input id="pass" type="text" name="county" class="input">
                            </div>
                            <div class="group">
                                <label for="contact" class="label">Contact number</label>
                                <input id="pass" type="integer" name="contact" class="input">
                            </div>
                            <div class="group">
                                <label for="email" class="label">Email</label>
                                <input id="email" type="text" name="email" class="input">
                            </div>
                            <div class="group">
                                <label for="hours" class="label">Hours</label>
                                <input id="pass" type="text" name="hours" class="input">
                            </div>
                            <div class="group">
                                <label for="website" class="label">Foster home website</label>
                                <input id="pass" type="text" name="website" class="input">
                            </div>
                            <div class="group">
                                <label for="image" class="label">Foster home image url</label>
                                <input id="pass" type="text" name="image" class="input">
                            </div>
                            <div class="group">
                                <br>
                                <br>
                            <div class="wrapper">
                                <input type="submit" class="button" alignvalue="Sign Up">
                            </div>
=======
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="name" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="password" class="label">Password</label>
                            <input id="password" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Repeat Password</label>
                            <input id="confirm" type="confirm" class="input" data-type="confirm">
                        </div>
                        <div class="group">
                            <label for="email" class="label">Email Address</label>
                            <input id="email" type="text" class="input">
                        </div>
                        <div class="group">
                            <a href="/authors"><input type="submit" class="btn" value="Sign Up">
                        </div>
>>>>>>> fd8271e48aa8da210c329ea9bc0cd77582306ae6
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>